@tailwind base;
@tailwind components;
@tailwind utilities;

.domainRoot:nth-child(3n + 1) .cardBg {
  background-color: #9758fc;
}
.domainRoot:nth-child(3n + 2) .cardBg {
  background-color: #fc58ec;
}
.domainRoot:nth-child(3n + 3) .cardBg {
  background-color: #fc58a2;
}
